# **RELATIONAL DATABASES AND QUERYING WITH SQL**

BY: LINET SHAMMAH PATRICIAH.

#**CHINOOK DATABASE**

It models how an online music shop works, similar to iTunes or Spotify’s store side.

**TABLES**

Artists – musicians or bands

Albums – collections of songs by artists

Tracks – individual songs

Genres – music categories (Rock, Jazz)

Media Types – file formats (MP3, AAC)

Customers – people who buy music

Invoices – purchase records

Invoice Items – individual tracks bought per invoice

Employees – store staff (support reps)

In [36]:
# importing neccessary libraries
import kagglehub
import os
import sqlite3
import pandas as pd

In [2]:
# Download latest version
path = kagglehub.dataset_download("ranasabrii/chinook")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'chinook' dataset.
Path to dataset files: /kaggle/input/chinook

In [3]:
# Path to the Chinook dataset
path = "/kaggle/input/chinook"

print("Path to dataset files:", path)
print(os.listdir(path))

Path to dataset files: /kaggle/input/chinook
['Chinook_Sqlite.sqlite']

In [4]:
# connecting to the database
db_path = path + "/Chinook_Sqlite.sqlite"
conn = sqlite3.connect(db_path)

# **Chinook Database** - Online Music Shop(Spotify)

## Chinook Database

In [5]:
import pandas as pd

Chinook = pd.read_sql("""SELECT name FROM sqlite_master WHERE type='table';
""", conn)

Chinook

             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

Album Table

In [ ]:
Album = pd.read_sql("""SELECT * FROM Album""",conn)
Album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

##### **Primary Key** - A column that uniquely identifies each row in a table. Must be unique and NOT NULL.

In [ ]:
Artist = pd.read_sql("""SELECT * FROM Artist""",
                        conn)
Artist

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

##### **Foreign Key** - A column in one table that references the primary key in another table, establishing a relationship between the two tables.

In [ ]:
Album = pd.read_sql("""SELECT * FROM Album""",
                    conn)
Album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

# **SQL CAUSES**

## **1. SELECT** - selects the columns that you need to retrieve.

In [ ]:
Track = pd.read_sql("""SELECT * FROM Track""",
                    conn)
Track

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

 1.1. **(Asterisk)**  - SELECT FROM ALL COLUMNS

In [ ]:
Genre = pd.read_sql("""SELECT * FROM Genre""",
                    conn)
Genre

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

#### **1.2 SELECTING FROM SELECTIVE COLUMNS**

In [ ]:
Invoice = pd.read_sql("""SELECT BillingAddress, BillingCountry FROM Invoice""",
                       conn)
Invoice

                               BillingAddress BillingCountry
0                     Theodor-Heuss-Straße 34        Germany
1                            Ullevålsveien 14         Norway
2                             Grétrystraat 63        Belgium
3                              8210 111 ST NW         Canada
4                             69 Salem Street            USA
..                                        ...            ...
407                     319 N. Frances Street            USA
408                    796 Dundas Street West         Canada
409  Rua dos Campeões Europeus de Viena, 4350       Portugal
410                           Porthaninkatu 9        Finland
411                       12,Community Centre          India

[412 rows x 2 columns]

## **2.FROM** - specifies the table to retrieve the data.

In [ ]:
Album = pd.read_sql(""" SELECT * FROM Album""",
                    conn)
Album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [ ]:
Track = pd.read_sql(""" SELECT Name, Composer, UnitPrice FROM Track""",
                    conn)
Track

,Name,Composer,UnitPrice
0,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",0.99
1,Balls to the Wall,None,0.99
2,Fast As a Shark,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",0.99
3,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",0.99
4,Princess of the Dawn,Deaffy & R.A. Smith-Diesel,0.99
...,...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,None,0.99
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Franz Schubert,0.99
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Claudio Monteverdi,0.99
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Wolfgang Amadeus Mozart,0.99
3502,Koyaanisqatsi,Philip Glass,0.99

## **3. JOIN** -combines rows from two or more tables based on a related column.

**3.1 INNER JOIN** - Returns only the rows where there is a match in both tables.

In [ ]:
Songs = pd.read_sql("""
SELECT *
FROM Album
INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId
""",conn)

Songs

,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,2,Balls to the Wall,2,2,Accept
2,3,Restless and Wild,2,2,Accept
3,4,Let There Be Rock,1,1,AC/DC
4,5,Big Ones,3,3,Aerosmith
...,...,...,...,...,...
342,343,Respighi:Pines of Rome,226,226,Eugene Ormandy
343,344,Schubert: The Late String Quartets & String Qu...,272,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,275,Philip Glass Ensemble

In [ ]:
Songs = pd.read_sql("""
SELECT Album.Title, Artist.Name
FROM Album
INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId
""",conn)

Songs

,Title,Name
0,For Those About To Rock We Salute You,AC/DC
1,Balls to the Wall,Accept
2,Restless and Wild,Accept
3,Let There Be Rock,AC/DC
4,Big Ones,Aerosmith
...,...,...
342,Respighi:Pines of Rome,Eugene Ormandy
343,Schubert: The Late String Quartets & String Qu...,Emerson String Quartet
344,Monteverdi: L'Orfeo,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,Mozart: Chamber Music,Nash Ensemble
346,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble

3.2 LEFT JOIN - Returns all rows from the left table and the matching rows from the right table.

In [ ]:
Songs = pd.read_sql("""
SELECT *
FROM Album
LEFT JOIN Artist ON Album.ArtistId = Artist.ArtistId
""",conn)

Songs

,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,2,Balls to the Wall,2,2,Accept
2,3,Restless and Wild,2,2,Accept
3,4,Let There Be Rock,1,1,AC/DC
4,5,Big Ones,3,3,Aerosmith
...,...,...,...,...,...
342,343,Respighi:Pines of Rome,226,226,Eugene Ormandy
343,344,Schubert: The Late String Quartets & String Qu...,272,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,275,Philip Glass Ensemble

In [ ]:
songs = pd.read_sql("""
SELECT Album.Title, Artist.Name
FROM Album
LEFT JOIN Artist ON Album.ArtistId = Artist.ArtistId
""",conn)

Songs

,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,2,Balls to the Wall,2,2,Accept
2,3,Restless and Wild,2,2,Accept
3,4,Let There Be Rock,1,1,AC/DC
4,5,Big Ones,3,3,Aerosmith
...,...,...,...,...,...
342,343,Respighi:Pines of Rome,226,226,Eugene Ormandy
343,344,Schubert: The Late String Quartets & String Qu...,272,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,275,Philip Glass Ensemble

**3.3 RIGHT JOIN** - Returns all rows from the right table and the matching rows from the left table.

In [ ]:
Songs = pd.read_sql("""
SELECT Album.Title, Artist.Name
FROM Album
RIGHT JOIN Artist ON Album.ArtistId = Artist.ArtistId
""",conn)

Songs

DatabaseError: Execution failed on sql '
SELECT Album.Title, Artist.Name
FROM Album
RIGHT JOIN Artist ON Album.ArtistId = Artist.ArtistId
': RIGHT and FULL OUTER JOINs are not currently supported

**3.4 FULL JOIN** - Returns all rows from both tables.

In [ ]:
Songs = pd.read_sql("""
SELECT *
FROM Album
FULL JOIN Artist ON Album.ArtistId = Artist.ArtistId
""",conn)

Songs

DatabaseError: Execution failed on sql '
SELECT *
FROM Album
FULL JOIN Artist ON Album.ArtistId = Artist.ArtistId
': RIGHT and FULL OUTER JOINs are not currently supported

NOTE : SADLY COLLAB DOESNT SUPPORT RIGHT JOIN OR FULL OUTER JOIN

**3.5 CROSS JOIN** - Returns all possible combinations of rows from both tables

In [ ]:
Songs = pd.read_sql("""
SELECT *
FROM Album
CROSS JOIN Artist;
""",conn)

Songs

,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,1,For Those About To Rock We Salute You,1,2,Accept
2,1,For Those About To Rock We Salute You,1,3,Aerosmith
3,1,For Those About To Rock We Salute You,1,4,Alanis Morissette
4,1,For Those About To Rock We Salute You,1,5,Alice In Chains
...,...,...,...,...,...
95420,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,271,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
95421,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,272,Emerson String Quartet
95422,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
95423,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,274,Nash Ensemble
95424,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,275,Philip Glass Ensemble

In [ ]:
Songs = pd.read_sql("""
SELECT Album.Title, Artist.Name
FROM Album
CROSS JOIN Artist;
""",conn)

Songs

,Title,Name
0,For Those About To Rock We Salute You,AC/DC
1,For Those About To Rock We Salute You,Accept
2,For Those About To Rock We Salute You,Aerosmith
3,For Those About To Rock We Salute You,Alanis Morissette
4,For Those About To Rock We Salute You,Alice In Chains
...,...,...
95420,Koyaanisqatsi (Soundtrack from the Motion Pict...,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
95421,Koyaanisqatsi (Soundtrack from the Motion Pict...,Emerson String Quartet
95422,Koyaanisqatsi (Soundtrack from the Motion Pict...,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
95423,Koyaanisqatsi (Soundtrack from the Motion Pict...,Nash Ensemble
95424,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble

## **4. WHERE** - The WHERE clause is used to filter rows in a table, returning only those that meet the specified condition

Question: List the customers from the USA

In [ ]:
Customer = pd.read_sql("""SELECT FirstName, LastName , Country FROM Customer WHERE Country = 'USA' """
                          ,conn)
Customer

   FirstName    LastName Country
0      Frank      Harris     USA
1       Jack       Smith     USA
2   Michelle      Brooks     USA
3        Tim       Goyer     USA
4        Dan      Miller     USA
5      Kathy       Chase     USA
6    Heather     Leacock     USA
7       John      Gordon     USA
8      Frank     Ralston     USA
9     Victor     Stevens     USA
10   Richard  Cunningham     USA
11   Patrick        Gray     USA
12     Julia     Barnett     USA

Question : List the Track Name and Composer of all tracks in the database whose Unit Price is greater than $1.

In [ ]:
Track = pd.read_sql("""SELECT Name, Composer, UnitPrice FROM Track WHERE UnitPrice > 1.00""",
                    conn)
Track

                                       Name Composer  UnitPrice
0    Battlestar Galactica: The Story So Far     None       1.99
1                    Occupation / Precipice     None       1.99
2                             Exodus, Pt. 1     None       1.99
3                             Exodus, Pt. 2     None       1.99
4                             Collaborators     None       1.99
..                                      ...      ...        ...
208       There's No Place Like Home, Pt. 1     None       1.99
209       There's No Place Like Home, Pt. 2     None       1.99
210       There's No Place Like Home, Pt. 3     None       1.99
211                          Branch Closing     None       1.99
212                              The Return     None       1.99

[213 rows x 3 columns]

#### **4.1 IN** - The IN operator filters rows where a column matches any value in a list

Question: List all customers who are located in either the USA or Canada.

In [ ]:
Customer = pd.read_sql("""SELECT FirstName, LastName, Country FROM Customer WHERE Country IN ('USA','Canada')""",
                       conn)
Customer

   FirstName    LastName Country
0   François    Tremblay  Canada
1       Mark     Philips  Canada
2   Jennifer    Peterson  Canada
3      Frank      Harris     USA
4       Jack       Smith     USA
5   Michelle      Brooks     USA
6        Tim       Goyer     USA
7        Dan      Miller     USA
8      Kathy       Chase     USA
9    Heather     Leacock     USA
10      John      Gordon     USA
11     Frank     Ralston     USA
12    Victor     Stevens     USA
13   Richard  Cunningham     USA
14   Patrick        Gray     USA
15     Julia     Barnett     USA
16    Robert       Brown  Canada
17    Edward     Francis  Canada
18    Martha        Silk  Canada
19     Aaron    Mitchell  Canada
20     Ellie    Sullivan  Canada

Question: List the Invoice ID, Billing Country and Total for all invoices whose total amount is exactly 0.99, 1.98 or 3.96.

In [ ]:
Invoice = pd.read_sql("""
SELECT InvoiceId, BillingCountry, Total
FROM Invoice
WHERE Total IN ('0.99','1.98','3.96')
""",conn)

Invoice

     InvoiceId BillingCountry  Total
0            1        Germany   1.98
1            2         Norway   3.96
2            6        Germany   0.99
3            7        Germany   1.98
4            8         France   1.98
..         ...            ...    ...
218        401        Ireland   3.96
219        405            USA   0.99
220        406            USA   1.98
221        407            USA   1.98
222        408            USA   3.96

[223 rows x 3 columns]

#### **4.2 LIKE** - LIKE is used in a WHERE clause to match column values to a pattern, usually with wildcards.

**Wildcards:**

% → matches any number of characters (including zero)

_ → matches exactly one character

Question: Say we are looking for Artsits whose names start with S

In [ ]:
Artist = pd.read_sql("""SELECT Name FROM Artist WHERE Name LIKE 'S%'""",
                     conn)
Artist

                                                Name
0                                       Sandra De Sá
1                                         Spyro Gyra
2                                            Santana
3                        Santana Feat. Dave Matthews
4                             Santana Feat. Everlast
5                           Santana Feat. Rob Thomas
6                 Santana Feat. Lauryn Hill & Cee-Lo
7                      Santana Feat. The Project G&B
8                                 Santana Feat. Maná
9                     Santana Feat. Eagle-Eye Cherry
10                        Santana Feat. Eric Clapton
11                                        Simply Red
12                                             Skank
13                                 Smashing Pumpkins
14                                       Soundgarden
15               Stevie Ray Vaughan & Double Trouble
16                               Stone Temple Pilots
17                                  System Of A Down
18                                       Snow Patrol
19                                         Scorpions
20                                         Seu Jorge
21                              Sabotage E Instituto
22                                   Stereo Maracana
23                         Scholars Baroque Ensemble
24           Sir Georg Solti & Wiener Philharmoniker
25                Sergei Prokofiev & Yuri Temirkanov
26  Sir Georg Solti, Sumi Jo & Wiener Philharmoniker

QUESTION : Say we are looking for an artist whose name has -son in their name

In [ ]:
Artist = pd.read_sql("""
SELECT Name
FROM Artist
WHERE Name LIKE '%son%'
""",conn)

Artist

                                                Name
0                                    Bruce Dickinson
1  Edson, DJ Marky & DJ Patife Featuring Fernanda...
2                          R.E.M. Feat. Kate Pearson
3                       Dhani Harrison & Jakob Dylan
4                                     Jackson Browne
5                                       Jack Johnson
6     Michael Tilson Thomas & San Francisco Symphony
7                             Emerson String Quartet

#### **4.3 BETWEEN...AND**- The BETWEEN operator is used inside a WHERE clause to filter rows whose column values fall within a range.

Question: List the Billing Country and Total of all invoices where the total amount is between 5.00 and 10.00.

In [ ]:
Invoice = pd.read_sql("""SELECT BillingCountry, Total FROM Invoice WHERE Total BETWEEN '5.00' AND '10.00' """,
                      conn)
Invoice

     BillingCountry  Total
0           Belgium   5.94
1            Canada   8.91
2           Ireland   5.94
3    United Kingdom   8.91
4               USA   5.94
..              ...    ...
110             USA   8.91
111           Spain   5.94
112       Argentina   8.91
113          Canada   5.94
114        Portugal   8.91

[115 rows x 2 columns]

Question: List the Track Name, Composer and Duration (Milliseconds) of all tracks whose length is between 200,000 and 300,000 milliseconds.

In [ ]:
Track = pd.read_sql("""SELECT Name , Composer , Milliseconds FROM Track WHERE Milliseconds BETWEEN 200000 AND 300000 """,
                    conn)
Track

,Name,Composer,Milliseconds
0,Fast As a Shark,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619
1,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051
2,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",205662
3,Let's Get It Up,"Angus Young, Malcolm Young, Brian Johnson",233926
4,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",210834
...,...,...,...
1675,"24 Caprices, Op. 1, No. 24, for Solo Violin, i...",Niccolò Paganini,265541
1676,"Erlkonig, D.328",None,261849
1677,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,None,286741
1678,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Wolfgang Amadeus Mozart,221331
1679,Koyaanisqatsi,Philip Glass,206005

**4.4 IS NULL/ IS NOT NULL** - is used to check for any missing values

Question: Find countries from invoice where the billing state is null

In [ ]:
Invoice = pd.read_sql("""SELECT BillingCountry, BillingState FROM Invoice WHERE BillingState IS NULL""",
                      conn)
Invoice

     BillingCountry BillingState
0           Germany         None
1            Norway         None
2           Belgium         None
3           Germany         None
4           Germany         None
..              ...          ...
197       Argentina         None
198  Czech Republic         None
199        Portugal         None
200         Finland         None
201           India         None

[202 rows x 2 columns]

**4.5 OR** - It allows you to filter rows that match any of multiple conditions.

Question: Find employees who come from USA , Germany Or Canada

In [ ]:
Employee = pd.read_sql("""SELECT FirstName, LastName, Country FROM Employee WHERE Country = 'Canada' OR Country = 'USA' OR Country = 'Germany' """,
                     conn)
Employee

  FirstName  LastName Country
0    Andrew     Adams  Canada
1     Nancy   Edwards  Canada
2      Jane   Peacock  Canada
3  Margaret      Park  Canada
4     Steve   Johnson  Canada
5   Michael  Mitchell  Canada
6    Robert      King  Canada
7     Laura  Callahan  Canada

**5. GROUP BY** - The GROUP BY clause is used to group rows that have the same values in one or more columns.

**5.1 COUNT** - Counts how many rows are in each group

Question:  List the total number of customers by country.

In [ ]:
Customer = pd.read_sql("""SELECT Country, COUNT (*) FROM Customer GROUP BY Country""",
                       conn)
Customer

           Country  COUNT (*)
0        Argentina          1
1        Australia          1
2          Austria          1
3          Belgium          1
4           Brazil          5
5           Canada          8
6            Chile          1
7   Czech Republic          2
8          Denmark          1
9          Finland          1
10          France          5
11         Germany          4
12         Hungary          1
13           India          2
14         Ireland          1
15           Italy          1
16     Netherlands          1
17          Norway          1
18          Poland          1
19        Portugal          2
20           Spain          1
21          Sweden          1
22             USA         13
23  United Kingdom          3

**5.2 SUM**- Adds up a numeric column within each group

Qusetion : List the total amount spent by customers in each country.

In [14]:
Invoice = pd.read_sql("""
SELECT BillingCountry, SUM(Total)
FROM Invoice
GROUP BY BillingCountry
""",conn)

Invoice

    BillingCountry  SUM(Total)
0        Argentina       37.62
1        Australia       37.62
2          Austria       42.62
3          Belgium       37.62
4           Brazil      190.10
5           Canada      303.96
6            Chile       46.62
7   Czech Republic       90.24
8          Denmark       37.62
9          Finland       41.62
10          France      195.10
11         Germany      156.48
12         Hungary       45.62
13           India       75.26
14         Ireland       45.62
15           Italy       37.62
16     Netherlands       40.62
17          Norway       39.62
18          Poland       37.62
19        Portugal       77.24
20           Spain       37.62
21          Sweden       38.62
22             USA      523.06
23  United Kingdom      112.86

**5.3 AS** - creates an alias (Column name)

Question: List the total revenue by composer.

In [ ]:
Track = pd.read_sql("""
SELECT Composer, UnitPrice, SUM(UnitPrice) AS TotalUnitPrice
FROM Track
GROUP BY Composer, UnitPrice
""",conn)

Track

                                         Composer  UnitPrice  TotalUnitPrice
0                                            None       0.99          757.35
1                                            None       1.99          423.87
2    A. F. Iommi, W. Ward, T. Butler, J. Osbourne       0.99            2.97
3                                        A. Jamal       0.99            0.99
4                A.Bouchard/J.Bouchard/S.Pearlman       0.99            0.99
..                                            ...        ...             ...
849                         jon lord/roger glover       0.99            1.98
850                   lorenz hart/richard rodgers       0.99            0.99
851                  orlando murden/ronald miller       0.99            0.99
852                                    rod mckuen       0.99            0.99
853                                  roger glover       0.99            6.93

[854 rows x 3 columns]

**5.4 AVG** - Finds the average by category

Question: List the average track length (in milliseconds) for each composer.

In [ ]:
Track = pd.read_sql("""
SELECT Composer, AVG(Milliseconds) AS AvgMilliseconds
FROM Track
GROUP BY Composer
""",conn)

Track

                                         Composer  AvgMilliseconds
0                                            None    711493.507157
1    A. F. Iommi, W. Ward, T. Butler, J. Osbourne    235179.666667
2                                        A. Jamal    276871.000000
3                A.Bouchard/J.Bouchard/S.Pearlman    397531.000000
4                      A.Isbell/A.Jones/O.Redding    206994.000000
..                                            ...              ...
848                         jon lord/roger glover    334549.500000
849                   lorenz hart/richard rodgers    184111.000000
850                  orlando murden/ronald miller    171154.000000
851                                    rod mckuen    203964.000000
852                                  roger glover    284581.000000

[853 rows x 2 columns]

**5.5 MAX/MIN** - max finds the highest value in each group while min finds the lowest value in each group

Quetsion: List the maximum and minimum unit price for each country.

In [ ]:
Invoice = pd.read_sql("""
SELECT BillingCountry, Total,
MAX(Total) AS MaxTotal,
MIN(Total) AS MinTotal
FROM Invoice
GROUP BY BillingCountry
""",conn)

Invoice

    BillingCountry  Total  MaxTotal  MinTotal
0        Argentina   0.99     13.86      0.99
1        Australia   0.99     13.86      0.99
2          Austria   0.99     18.86      0.99
3          Belgium   0.99     13.86      0.99
4           Brazil   0.99     13.86      0.99
5           Canada   0.99     13.86      0.99
6            Chile   0.99     17.91      0.99
7   Czech Republic   0.99     25.86      0.99
8          Denmark   0.99     13.86      0.99
9          Finland   0.99     13.86      0.99
10          France   0.99     16.86      0.99
11         Germany   0.99     14.91      0.99
12         Hungary   0.99     21.86      0.99
13           India   1.98     13.86      1.98
14         Ireland   0.99     21.86      0.99
15           Italy   0.99     13.86      0.99
16     Netherlands   0.99     13.86      0.99
17          Norway   0.99     15.86      0.99
18          Poland   0.99     13.86      0.99
19        Portugal   0.99     13.86      0.99
20           Spain   0.99     13.86      0.99
21          Sweden   0.99     13.86      0.99
22             USA   0.99     23.86      0.99
23  United Kingdom   0.99     13.86      0.99

Question: List the number of tracks, sum and average of unit price and minimum and maximum track length by composer.

In [27]:
Track = pd.read_sql("""
SELECT Composer,COUNT(TrackId), SUM(UnitPrice), AVG(UnitPrice), MAX(Milliseconds), MIN(Milliseconds)
FROM Track
GROUP BY Composer
""",conn)

Track

,Composer,COUNT(TrackId),SUM(UnitPrice),AVG(UnitPrice),MAX(Milliseconds),MIN(Milliseconds)
0,None,978,1181.22,1.207791,5286953,4884
1,"A. F. Iommi, W. Ward, T. Butler, J. Osbourne",3,2.97,0.990000,357067,172120
2,A. Jamal,1,0.99,0.990000,276871,276871
3,A.Bouchard/J.Bouchard/S.Pearlman,1,0.99,0.990000,397531,397531
4,A.Isbell/A.Jones/O.Redding,1,0.99,0.990000,206994,206994
...,...,...,...,...,...,...
848,jon lord/roger glover,2,1.98,0.990000,392437,276662
849,lorenz hart/richard rodgers,1,0.99,0.990000,184111,184111
850,orlando murden/ronald miller,1,0.99,0.990000,171154,171154
851,rod mckuen,1,0.99,0.990000,203964,203964
852,roger glover,7,6.93,0.990000,351033,240274

**5.6.DISTINCT**- show you only the unique values

Question: List all countries in the Chinook database.

In [38]:
Invoice = pd.read_sql("""
SELECT DISTINCT(BillingCountry)
FROM Invoice
GROUP BY BillingCountry
""",conn)

Invoice

    BillingCountry
0        Argentina
1        Australia
2          Austria
3          Belgium
4           Brazil
5           Canada
6            Chile
7   Czech Republic
8          Denmark
9          Finland
10          France
11         Germany
12         Hungary
13           India
14         Ireland
15           Italy
16     Netherlands
17          Norway
18          Poland
19        Portugal
20           Spain
21          Sweden
22             USA
23  United Kingdom

**6.2 COUNT(DISTINCT)**

Question : List the number of unique customers per country.

In [40]:
Customer = pd.read_sql("""
SELECT Country, COUNT(DISTINCT(CustomerId)) AS UniqueCustomers
FROM Customer
GROUP BY Country
""",conn)

Customer

           Country  UniqueCustomers
0        Argentina                1
1        Australia                1
2          Austria                1
3          Belgium                1
4           Brazil                5
5           Canada                8
6            Chile                1
7   Czech Republic                2
8          Denmark                1
9          Finland                1
10          France                5
11         Germany                4
12         Hungary                1
13           India                2
14         Ireland                1
15           Italy                1
16     Netherlands                1
17          Norway                1
18          Poland                1
19        Portugal                2
20           Spain                1
21          Sweden                1
22             USA               13
23  United Kingdom                3

## **6.HAVING** - Filters Groups after GROUP BY

Question: List countries with total sales of 100.

In [31]:
Invoice = pd.read_sql("""
SELECT BillingCountry, SUM(Total) AS TotalPrice
FROM Invoice
GROUP BY BillingCountry
HAVING SUM(Total) > 100
""",conn)

Invoice

   BillingCountry  TotalPrice
0          Brazil      190.10
1          Canada      303.96
2          France      195.10
3         Germany      156.48
4             USA      523.06
5  United Kingdom      112.86

List genres where the average track price is greater than 1.0.

In [50]:
Genre = pd.read_sql("""
SELECT Genre.Name, AVG(UnitPrice) AS AvgTrackPrice
FROM Track
INNER JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Genre.Name
HAVING AVG(UnitPrice) > 1.00
""",conn)

Genre

               Name  AvgTrackPrice
0            Comedy           1.99
1             Drama           1.99
2  Sci Fi & Fantasy           1.99
3   Science Fiction           1.99
4          TV Shows           1.99

**7. ORDER BY** - shows how data is displayed either in ascending or descending order

**7.1 ORDER BY .....ASC**- ranks from the smallest to the largest

Question: List tracks arranged by length (milliseconds) from smallest to largest.

In [52]:
Track = pd.read_sql("""
SELECT Name, Milliseconds
FROM Track
ORDER BY Milliseconds ASC
""",conn)

Track

                             Name  Milliseconds
0        É Uma Partida De Futebol          1071
1                      Now Sports          4884
2                     A Statistic          6373
3                           Oprah          6635
4                    Commercial 1          7941
...                           ...           ...
3498  Battlestar Galactica, Pt. 2       2956081
3499      The Man With Nine Lives       2956998
3500  Greetings from Earth, Pt. 1       2960293
3501      Through a Looking Glass       5088838
3502       Occupation / Precipice       5286953

[3503 rows x 2 columns]

**7.2 ORDER BY.....DESC** - ranks from the largest to the smallest

Question: Arrange the track by milllisecond from the largest to the smallest.

In [55]:
Track = pd.read_sql("""
SELECT Name, Milliseconds
FROM Track
ORDER BY Milliseconds DESC
""",conn)

Track

                             Name  Milliseconds
0          Occupation / Precipice       5286953
1         Through a Looking Glass       5088838
2     Greetings from Earth, Pt. 1       2960293
3         The Man With Nine Lives       2956998
4     Battlestar Galactica, Pt. 2       2956081
...                           ...           ...
3498                 Commercial 1          7941
3499                        Oprah          6635
3500                  A Statistic          6373
3501                   Now Sports          4884
3502     É Uma Partida De Futebol          1071

[3503 rows x 2 columns]

**7.3 GROUP BY ....ORDER BY**- you can summarize data in groups then you can rank it

Question : List the number of invoices per country, sorted by the number of invoices in descending order.

In [58]:
Invoice = pd.read_sql("""
SELECT BillingCountry, COUNT(CustomerId) AS TotalInvoice
FROM Invoice
GROUP BY BillingCountry
ORDER BY COUNT(CustomerId) DESC
""",conn)

Invoice

    BillingCountry  TotalInvoice
0              USA            91
1           Canada            56
2           France            35
3           Brazil            35
4          Germany            28
5   United Kingdom            21
6         Portugal            14
7   Czech Republic            14
8            India            13
9           Sweden             7
10           Spain             7
11          Poland             7
12          Norway             7
13     Netherlands             7
14           Italy             7
15         Ireland             7
16         Hungary             7
17         Finland             7
18         Denmark             7
19           Chile             7
20         Belgium             7
21         Austria             7
22       Australia             7
23       Argentina             7

**8.LIMIT** - restricts the number of rows to return in query

Question: List 10 invoices from the Invoice table.

In [62]:
Invoice = pd.read_sql("""
SELECT BillingCountry, Total
FROM Invoice
LIMIT 10
""",conn)

Invoice

  BillingCountry  Total
0        Germany   1.98
1         Norway   3.96
2        Belgium   5.94
3         Canada   8.91
4            USA  13.86
5        Germany   0.99
6        Germany   1.98
7         France   1.98
8         France   3.96
9        Ireland   5.94

**7.1 ORDER BY .....LIMIT**

Question: List the top 10 customers who spend the most.

In [ ]:
Invoice = pd.read_sql("""
SELECT CustomerId, SUM(Total) AS TotalSpend
FROM Invoice
GROUP BY CustomerId
ORDER BY TotalSpend DESC
LIMIT 10
""",conn)

Invoice

   CustomerId  TotalSpend
0           6       49.62
1          26       47.62
2          57       46.62
3          45       45.62
4          46       45.62
5          28       43.62
6          24       43.62
7          37       43.62
8           7       42.62
9          25       42.62

In [69]:
Customer = pd.read_sql("""
SELECT Customer.FirstName, Customer.LastName, Invoice.Total, SUM(Invoice.Total) AS TotalSpend
FROM Customer
INNER JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.FirstName, Customer.LastName
ORDER BY SUM(Invoice.Total) DESC
LIMIT 10
""",conn)

Customer

  FirstName    LastName  Total  TotalSpend
0    Helena        Holý   8.91       49.62
1   Richard  Cunningham   1.98       47.62
2      Luis       Rojas   1.98       46.62
3      Hugh    O'Reilly   5.94       45.62
4  Ladislav      Kovács   1.98       45.62
5     Julia     Barnett   1.98       43.62
6     Frank     Ralston   1.98       43.62
7      Fynn  Zimmermann   0.99       43.62
8    Astrid      Gruber   1.98       42.62
9    Victor     Stevens   5.94       42.62

**7.2 OFFSET** - skips the first ___ rows

Question: List Countries with invoices from rank 6th to 10th by total amount.

In [72]:
Invoice = pd.read_sql("""
SELECT BillingCountry, SUM(Total) AS TotalRevenue
FROM Invoice
GROUP BY BillingCountry
ORDER BY SUM(Total) DESC
LIMIT 5 OFFSET 5
""",conn)

Invoice

   BillingCountry  TotalRevenue
0  United Kingdom        112.86
1  Czech Republic         90.24
2        Portugal         77.24
3           India         75.26
4           Chile         46.62

**QUIZ**

 1. List customers who have made more than 5 purchases, showing total and average spending, sorted by total spent descending.

In [81]:
Customer = pd.read_sql("""
SELECT Customer.Email, COUNT(InvoiceId), SUM(Total) AS TotalSpend, AVG(Total) AS AvgSpend
FROM Invoice
INNER JOIN Customer ON Invoice.CustomerId = Customer.CustomerId
GROUP BY Customer.Email
HAVING COUNT(InvoiceId) > 5
ORDER BY SUM(Total) DESC
""",conn)

Customer

                            Email  COUNT(InvoiceId)  TotalSpend  AvgSpend
0                 hholy@gmail.com                 7       49.62  7.088571
1        ricunningham@hotmail.com                 7       47.62  6.802857
2              luisrojas@yahoo.cl                 7       46.62  6.660000
3        ladislav_kovacs@apple.hu                 7       45.62  6.517143
4            hughoreilly@apple.ie                 7       45.62  6.517143
5             jubarnett@gmail.com                 7       43.62  6.231429
6            fzimmermann@yahoo.de                 7       43.62  6.231429
7              fralston@gmail.com                 7       43.62  6.231429
8              vstevens@yahoo.com                 7       42.62  6.088571
9          astrid.gruber@apple.at                 7       42.62  6.088571
10      terhi.hamalainen@apple.fi                 7       41.62  5.945714
11      isabelle_mercier@apple.fr                 7       40.62  5.802857
12       frantisekw@jetbrains.com                 7       40.62  5.802857
13        johavanderberg@yahoo.nl                 7       40.62  5.802857
14            jfernandes@yahoo.pt                 7       39.62  5.660000
15        jacksmith@microsoft.com                 7       39.62  5.660000
16          wyatt.girard@yahoo.fr                 7       39.62  5.660000
17           luisg@embraer.com.br                 7       39.62  5.660000
18             hleacock@gmail.com                 7       39.62  5.660000
19            ftremblay@gmail.com                 7       39.62  5.660000
20            dmiller@comcast.com                 7       39.62  5.660000
21          bjorn.hansen@yahoo.no                 7       39.62  5.660000
22               tgoyer@apple.com                 7       38.62  5.517143
23        manoj.pareek@rediff.com                 7       38.62  5.517143
24      joakim.johansson@yahoo.se                 7       38.62  5.517143
25            jenniferp@rogers.ca                 7       38.62  5.517143
26    dominiquelefebvre@gmail.com                 7       38.62  5.517143
27       camille.bernard@yahoo.fr                 7       38.62  5.517143
28         stanisław.wójcik@wp.pl                 7       37.62  5.374286
29          phil.hughes@gmail.com                 7       37.62  5.374286
30           patrick.gray@aol.com                 7       37.62  5.374286
31            nschroder@surfeu.de                 7       37.62  5.374286
32             mphilips12@shaw.ca                 7       37.62  5.374286
33              michelleb@aol.com                 7       37.62  5.374286
34              masampaio@sapo.pt                 7       37.62  5.374286
35           marthasilk@gmail.com                 7       37.62  5.374286
36           mark.taylor@yahoo.au                 7       37.62  5.374286
37        marc.dubois@hotmail.com                 7       37.62  5.374286
38         lucas.mancini@yahoo.it                 7       37.62  5.374286
39          leonekohler@surfeu.de                 7       37.62  5.374286
40          kara.nielsen@jubii.dk                 7       37.62  5.374286
41      hannah.schneider@yahoo.de                 7       37.62  5.374286
42       fernadaramos4@uol.com.br                 7       37.62  5.374286
43         emma_jones@hotmail.com                 7       37.62  5.374286
44       eduardo@woodstock.com.br                 7       37.62  5.374286
45            edfrancis@yachoo.ca                 7       37.62  5.374286
46       diego.gutierrez@yahoo.ar                 7       37.62  5.374286
47               alero@uol.com.br                 7       37.62  5.374286
48         aaronmitchell@yahoo.ca                 7       37.62  5.374286
49          steve.murray@yahoo.uk                 7       37.62  5.374286
50  roberto.almeida@riotur.gov.br                 7       37.62  5.374286
51               robbrown@shaw.ca                 7       37.62  5.374286
52            kachase@hotmail.com                 7       37.62  5.374286
53         johngordon22@yahoo.com                 7       37.62  5.374286
54             fharris@google.com                 7       37.62  5.374286
55         enrique_munoz@yahoo.es                 7       37.62  5.374286
56         ellie.sullivan@shaw.ca                 7       37.62  5.374286
57          daan_peeters@apple.be                 7       37.62  5.374286
58       puja_srivastava@yahoo.in                 6       36.64  6.106667

2. List albums with the number of tracks, total track length and average track price, sorted by total track length descending.

In [88]:
Album = pd.read_sql("""
SELECT Album.Title, COUNT(Track.TrackId) AS TotalTracks, SUM(Track.Milliseconds) AS TrackLength, AVG(UnitPrice) AS AvgTrackPrice
FROM Track
LEFT JOIN Album ON Track.AlbumId = Album.AlbumId
GROUP BY Album.Title
ORDER BY SUM(Track.Milliseconds) DESC
""",conn)

Album

,Title,TotalTracks,TrackLength,AvgTrackPrice
0,"Lost, Season 3",26,70665582,1.99
1,"Battlestar Galactica (Classic), Season 1",24,70213784,1.99
2,"Lost, Season 1",25,64854936,1.99
3,"Lost, Season 2",24,63289631,1.99
4,"Heroes, Season 1",23,59780268,1.99
...,...,...,...,...
342,Handel: Music for the Royal Fireworks (Origina...,1,120000,0.99
343,"Charpentier: Divertissements, Airs & Concerts",1,110266,0.99
344,SCRIABIN: Vers la flamme,1,101293,0.99
345,Monteverdi: L'Orfeo,1,66639,0.99
346,Liszt - 12 Études D'Execution Transcendante,1,51780,0.99

3. List all employees along with the number of customers they support and total sales generated, showing only employees with total sales greater than 500.

In [107]:
Employee = pd.read_sql("""
SELECT Employee.FirstName, Employee.LastName, SUM(Invoice.Total) AS TotalSales, COUNT(Invoice.CustomerId) AS TotalCustomers
FROM Invoice
INNER JOIN Customer ON Invoice.CustomerId = Customer.CustomerId
INNER JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
GROUP BY Employee.FirstName, Employee.LastName
HAVING SUM(Invoice.Total) >500
""",conn)

Employee

  FirstName LastName  TotalSales  TotalCustomers
0      Jane  Peacock      833.04             146
1  Margaret     Park      775.40             140
2     Steve  Johnson      720.16             126